In [55]:
import numpy as np
import pandas as pd

## Problem 1
How-to-count-distance-to-the-previous-zero

For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position
Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}

The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

In [56]:
data = {'X':[7,2,0,3,4,2,5,0,3,4]}
df = pd.DataFrame(data)

# Find the cummulative sum of the Series X where the values is not equal to zero
x = (df['X'] != 0).cumsum()

# Use the shift function to filter out the rows that contain the same x value as the row above it.
x1 = x.shift()

# Assign values to Y where the x values is not equal to x1
y = x != x1

#Use group by to group values where y is not equal to the values as the row above it and find the cummulative sums for the
#filter function and the group by function

df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()

In [57]:
print(df)

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

## Problem 2

Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.

In [58]:
from numpy.random import rand

In [59]:
df2 = pd.date_range(start = '2015-01-01', end = '2015-12-31', freq = 'B')
series1 = pd.Series(rand(len(df2)), index = df2)

print(series1)

2015-01-01    0.849501
2015-01-02    0.396867
2015-01-05    0.974576
2015-01-06    0.819653
2015-01-07    0.657600
2015-01-08    0.168787
2015-01-09    0.350625
2015-01-12    0.421493
2015-01-13    0.969019
2015-01-14    0.581845
2015-01-15    0.560599
2015-01-16    0.157680
2015-01-19    0.267584
2015-01-20    0.114564
2015-01-21    0.219119
2015-01-22    0.098823
2015-01-23    0.770633
2015-01-26    0.450078
2015-01-27    0.404701
2015-01-28    0.800854
2015-01-29    0.466005
2015-01-30    0.383923
2015-02-02    0.120062
2015-02-03    0.745361
2015-02-04    0.421607
2015-02-05    0.172481
2015-02-06    0.917594
2015-02-09    0.238366
2015-02-10    0.948525
2015-02-11    0.975586
                ...
2015-11-20    0.283689
2015-11-23    0.907509
2015-11-24    0.259506
2015-11-25    0.594924
2015-11-26    0.775916
2015-11-27    0.870474
2015-11-30    0.474378
2015-12-01    0.099070
2015-12-02    0.107433
2015-12-03    0.648612
2015-12-04    0.937565
2015-12-07    0.439001
2015-12-08    0.141438
2015-12-09    0.849738
2015-12-10    0.075135
2015-12-11    0.505639
2015-12-14    0.163690
2015-12-15    0.868548
2015-12-16    0.914103
2015-12-17    0.598699
2015-12-18    0.124992
2015-12-21    0.179985
2015-12-22    0.923119
2015-12-23    0.822479
2015-12-24    0.580838
2015-12-25    0.062542
2015-12-28    0.647262
2015-12-29    0.684907
2015-12-30    0.354263
2015-12-31    0.307858
Freq: B, Length: 261, dtype: float64

## Problem 3

Find the sum of the values in s for every Wednesday

In [60]:
sum_of_values = series1[df2.weekday == 2].sum()
print(sum_of_values)

32.01066647065934

## Problem 4

Average For each calendar month

In [61]:
avgbymonth = series1.groupby(pd.Grouper(freq='M')).mean()
print(avgbymonth)

2015-01-31    0.494751
2015-02-28    0.516708
2015-03-31    0.542128
2015-04-30    0.568519
2015-05-31    0.494262
2015-06-30    0.525224
2015-07-31    0.550759
2015-08-31    0.577959
2015-09-30    0.567165
2015-10-31    0.683709
2015-11-30    0.508365
2015-12-31    0.479866
Freq: M, dtype: float64

## Problem 5

For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.

In [62]:
highestvalue = series1.groupby(pd.Grouper(freq = '4M')).idxmax()
print(highestvalue)

2015-01-31   2015-01-05
2015-05-31   2015-04-03
2015-09-30   2015-06-10
2016-01-31   2015-10-16
dtype: datetime64[ns]